.container{
    border: 2px solid black;
    border-radius: 10px;
    width: 280px;
    height: 510px;
    box-shadow: 0 0 54px;
    margin: 10px 250px;
    padding: 5px 5px 40px 700px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-47deg,white 0%, white 55%, #000 50%);

}
.h1{
    position: absolute;
    right: 1000px;
    color: white;
    margin-top: 20px 30px;
    font-size: 20px;
}
h2{
    
    font-weight: bold;
    margin:0 60px;
    padding-top: 80px;
}

a{
    text-decoration: none;
    font-weight: bold;
}
.input_box{
    border: 0 0 2px 0;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 240px;
}

.icon{
    margin: 0 220px;

}
.button{
    border: 1px solid;
    border-radius: 20px;
    color: white;
    padding: 15px 100px;
    background-color: rgb(127, 206, 255);
}
.class{
    margin:10px;
}




